@import "./var.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.fc-primary {
  color: $c-primary;
}
.fc-red {
  color: $c-red;
}
.fc-lightgrey {
  color: $c-lightgrey;
}
.fc-grey {
  color: $c-grey;
}
.fc-darkgrey {
  color: $c-darkgrey;
}
.fc-black {
  color: $c-black;
}
.fc-green {
  color: $c-green;
}
.fc-white {
  color: $c-white;
}

.f-thin {
  font-weight: 100;
  font-style: normal;
}

.f-light {
  font-weight: 300;
  font-style: normal;
}

.f-regular {
  font-weight: 400;
  font-style: normal;
}

.f-bold {
  font-weight: 700;
  font-style: normal;
}

.f-black {
  font-weight: 900;
  font-style: normal;
}

.f-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.f-light-italic {
  font-weight: 300;
  font-style: italic;
}

.f-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.f-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.f-black-italic {
  font-weight: 900;
  font-style: italic;
}

.text-ellipsis {
  text-overflow: ellipsis !important;
}

.text-style-bold {
  font-weight: bold !important;
}

.text-style-italic {
  font-style: italic !important;
}

.text-style-underline {
  text-decoration: underline !important;
}

.border-red {
  border-color: $c-red !important;
}

.border-green {
  border-color: $c-green !important;
}

.border-black {
  border-color: $c-black !important;
}

.border-darkgrey {
  border-color: $c-darkgrey !important;
}

.border-lightgrey {
  border-color: $c-lightgrey !important;
}

.border-grey {
  border-color: $c-grey !important;
}

.border-none {
  border: none !important;
}

.bordered-1 {
  border-width: 1px;
  border-style: solid;
}

.bordered-2 {
  border-width: 2px;
  border-style: solid;
}

.dash-border {
  padding: 5px;
  border: 1px dashed $c-grey;
}

.title-border {
  border-top: 2px solid $c-darkgrey;
  border-bottom: 2px solid $c-darkgrey;
}

.bg-lightgrey {
  background-color: $c-lightgrey !important;
}

.bg-grey {
  background-color: $c-grey !important;
}

.bg-darkgrey {
  background-color: $c-darkgrey !important;
}

.bg-red {
  background-color: $c-red !important;
}

.bg-green {
  background-color: $c-green !important;
}

.bg-prim {
  background-color: $c-primary !important;
}

.bg-orange {
  background-color: $c-orange !important;
}

.r-0 {
  right: 0 !important;
}

.w-20 {
  width: 20% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.rotate-90 {
  transform: rotate(90deg);
}